<!-- Nav -->
<nav class="navbar d-flex navbar-dark bg-dark fixed-top justify-content-between">
    <!-- Brand -->
    <div class="navbar-brand ms-5"> 
        <img style="height: 55px;" src="../../../assets/logo.png" alt="">
    </div>
    <!-- Menu -->
    <ul class="navbar-nav flex-row">
        <li class="nav-item ms-2"><a class="nav-link" [routerLink]="['/episodios']" >Episodios</a></li>
        <li class="nav-item me-5 ms-2"><a class="nav-link" [routerLink]="['/personajes']" >Personajes</a></li>
    </ul>
</nav>
<!-- /Nav -->